<div id="<%= dom_id participation %>" class="card main-card-container">
  <div class="card">
    <strong>Title:</strong>
    <%= participation.bet.title %>
  </div>

  <p>
    <strong>Bet:</strong>
    <%= participation.bet_id %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= participation.owner_id %>
  </p>

  <p>
    <strong>Fee:</strong>
    <%= participation.fee %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= participation.message %>
  </p>

  <p>
    <strong>Anonymous:</strong>
    <%= participation.anonymous %>
  </p>

  <p>
    <strong>Outcome:</strong>
    <%= participation.outcome %>
  </p>
</div>
