<main>
  <div class="card main-card-container">
    <h2>
      <% @bet ||= Bet.find_by(id: @participation.bet_id) %>
      <%= @bet.title %>
    </h2>
    <p class="bet-author">Made by: <%= @owner_name %></p>
    <div class="detail-container card">
      <h5>What's the bet?</h5>
      <p class="bet-description"><%= @bet.description %></p>
    </div>
    <%= render 'form', participation: @participation %>
  </div>
</main>
<div id="side" class="card">
  <div id="highest-bidders" class="card">
    <h4>Highest Bidders:</h4>
    <div id="comments-list">
      <% if @highest_p %>
        <% @i = 0 %>
        <% @highest_p.each do |h_participant| %>
          <% @i = @i + 1 %>
          <div class="card no-shadow">
            <div class="comment-name-amount-wrapper">
              <p class="placement">
                <strong><%= @i %>.</strong>
              </p>
              <% if !h_participant.anonymous %>
                <p class="comment-username">
                  <%= h_participant.owner.username %>
                </p>
              <% else %>
                <p class="comment-username">Anonymous</p>
              <% end %>
              <p>•</p>
              <p class="coment-fee">
                <strong><%= h_participant.fee %> <span class="currency">
                    ECT$</span
                  ></strong
                >
              </p>
            </div>
          </div>
        <% end %>
      <% else %>
      <% end %>
    </div>
  </div>
  <div id="comments-container" class="card">
    <h4>Comments:</h4>
    <div id="comments-list">
      <% @bet.participations.each do |comment_participation| %>
        <% if comment_participation.message %>
          <div class="card no-shadow">
            <div class="comment-name-amount-wrapper">
              <% if !comment_participation.anonymous %>
                <p class="comment-username">
                  <%= comment_participation.owner.username %>
                </p>
              <% else %>
                <p class="comment-username">Anonymous</p>
              <% end %>
              <p>•</p>
              <p class="coment-fee">
                <strong><%= comment_participation.fee %> <span class="currency">
                    ECT$</span
                  ></strong
                >
              </p>
            </div>
            <p class="comment-message"><%= comment_participation.message %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
