<main>
  <div id="my-notifs" class="card main-card-container">
    <h3>Notifications</h3>
    <% if current_user.notifications.any? %>
      <ul class="notif-container">
        <% @notifications.each do |notification| %>
          <li
            class="card"
            data-notification-id="<%= notification.id %>"
            data-didwin="<%= notification.didwin %>"
          >
            <h4><%= notification.bet.title %></h4>

            <% if notification.read %>
              <p class="notif-message">
                <strong><%= notification.message %></strong>
              </p>
            <% else %>
              <button class="card button show-result-btn">Show result !</button>
              <p class="notif-message" style="display: none;">
                <strong><%= notification.message %></strong>
              </p>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No notifications.</p>
    <% end %>
  </div>
</main>
