<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>fhodds</title>
    <meta name="description" content="fhodds description" />

    <meta property="og:title" content="fhodds" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="pichu.multimediatechnology.at" />
    <meta property="og:image" content="" />
    <meta name="csrf-token" content="<%= form_authenticity_token %>" />
    <%= render 'application/favicon' %>

    <script
      src="https://kit.fontawesome.com/8d62095734.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/@tsparticles/confetti@3.0.3/tsparticles.confetti.bundle.min.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="card" id="header-desktop">
      <%= link_to root_path, class: 'logo' do %>
        <%= image_tag('fhodds_logo.svg', alt: 'Fhodds Logo', class: 'logo') %>
      <% end %>

      <% if current_user %>
        <nav>
          <ul>
            <%=
              link_to 'My Bets', bets_user_path(current_user), class: 'card'
            %>
            <%= link_to 'Public bets', bets_path, class: 'card' %>
          </ul>
        </nav>
      <% end %>

      <% if current_user %>
        <% if !current_user.username %>
          <%= render 'shared/update_username_form' %>
        <% end %>
        <ul id="header-button-group">
          <li>
            <%= link_to(new_bet_path, class: 'button-container') do %>
              <svg
                viewBox="0 0 51 43"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M17.1838 42.5V25.7H0.383789V17.3H17.1838V0.5H33.9838V17.3H50.7838V25.7H33.9838V42.5H17.1838Z"
                />
              </svg>
            <% end %>
          </li>
          <li>
            <%= link_to notifications_path, class: 'button-container' do %>
              <svg
                viewBox="0 0 32 35"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M31.0562 28.9545H0.510742V27.0454H2.41983V25.1364H4.32892V9.86363H6.23801V7.95454H8.14711V6.04545H11.9653V4.13636H13.8744V0.318176H17.6926V4.13636H19.6017V6.04545H23.4198V7.95454H25.3289V9.86363H27.238V25.1364H29.1471V27.0454H31.0562M17.6926 34.6818H13.8744V32.7727H11.9653V30.8636H19.6017V32.7727H17.6926M23.4198 25.1364V11.7727H21.5107V9.86363H19.6017V7.95454H11.9653V9.86363H10.0562V11.7727H8.14711V25.1364H23.4198Z"
                />
              </svg>
              <% if current_user.notifications.exists?(read: false) %>
                <p class="notif-mark">!</p>
              <% end %>
            <% end %>
          </li>
          <li
            id="dropdown-header"
            onmouseenter="headerDropdown()"
            onmouseleave="headerDropdown()"
          >
            <div id="dropdown-header-button">
              <svg
                viewBox="0 0 42 43"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M24 0.5H36V12.5H24V0.5ZM6 0.5H18V12.5H6V0.5Z" />
                <path
                  d="M0 18.5H6V24.5H12V30.5H30V24.5H36V18.5H42V30.5H36V36.5H30V42.5H12V36.5H6V30.5H0V18.5Z"
                />
              </svg>

              <h4><%= current_user.username %></h4>
            </div>
            <ul id="dropdown-menu">
              <li class="dropdown-balance">
                <%= image_tag('icons/iconWallet.svg', alt: 'Wallet Icon') %>
                <p>
                  <strong><%= current_user.balance %> ECT$</strong>
                </p>
              </li>
              <li><%= link_to 'log out', logout_path %></li>
            </ul>
          </li>
        </ul>
      <% else %>
        <%= link_to 'Login', '/auth/fhs/', class: 'card', method: :post %>
      <% end %>
    </header>

    <header id="header-mobile" class="card">
      <div id="header-mobile-top">
        <%= link_to root_path, class: 'logo' do %>
          <%= image_tag('fhodds_logo.svg', alt: 'Fhodds Logo', class: 'logo') %>
        <% end %>
        <% if current_user %>
          <button onclick="toggleList()">
            <%=
              image_tag(
                'icons/iconBurger.svg',
                alt: 'Burger Icon',
                class: 'logo',
              )
            %>
          </button>
        <% else %>
          <%= link_to 'Login', '/auth/fhs/', class: 'card', method: :post %>
        <% end %>
      </div>

      <nav id="header-mobile-list">
        <ul>
          <li>
            <%=
              link_to 'My Bets', bets_user_path(current_user) if current_user
            %>
          </li>
          <li><%= link_to 'Public bets', bets_path if current_user %></li>
          <li>
            <%= link_to 'New Bet', new_bet_path if current_user %>
          </li>
          <li>
            <%= link_to 'Notifications', notifications_path if current_user %>
          </li>
          <li><%= link_to 'log out', logout_path if current_user %></li>
        </ul>
      </nav>
    </header>

    <div id="main-wrapper">
      <%= yield %>
    </div>

    <footer class="card">
      <div id="footer-socials">
        <a href="https://github.com" class="button-container"
          ><svg
            viewBox="0 0 43 43"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11.8349 11.308C11.3974 10.1915 11.4149 8.91575 11.6091 7.7485C12.9464 8.1492 14.2024 8.78312 15.3191 9.621C15.8091 9.9955 16.4514 10.1162 17.0499 9.936C18.5856 9.47651 20.1806 9.24537 21.7836 9.25C23.4654 9.25 25.0631 9.495 26.5139 9.93425C27.1124 10.1162 27.7546 9.99375 28.2429 9.61925C29.359 8.78155 30.6144 8.14764 31.9511 7.74675C32.1454 8.914 32.1611 10.1897 31.7271 11.3045C31.4646 11.9765 31.5959 12.75 32.0911 13.2995C33.3581 14.7047 34.0336 16.32 34.0336 18C34.0336 21.6995 30.5861 25.3272 25.0491 26.4315C23.6631 26.708 23.1224 28.4528 24.1829 29.452C24.8636 30.0925 25.2836 30.9955 25.2836 32V37.25C25.2836 37.7141 25.468 38.1593 25.7962 38.4874C26.1244 38.8156 26.5695 39 27.0336 39C27.4977 39 27.9429 38.8156 28.271 38.4874C28.5992 38.1593 28.7836 37.7141 28.7836 37.25V32C28.7836 31.0025 28.5736 30.054 28.1991 29.1947C33.4789 27.3625 37.5336 23.2377 37.5336 18C37.5336 15.6427 36.6866 13.4762 35.2814 11.6615C35.6489 10.2265 35.6156 8.781 35.4756 7.6715C35.3514 6.6775 35.1781 5.3755 34.4781 4.5985C33.4369 3.44525 31.7131 4.12425 30.4881 4.5425C29.174 4.98715 27.9238 5.60196 26.7694 6.37125C25.1401 5.95547 23.465 5.74674 21.7836 5.75C20.0441 5.75 18.3659 5.96875 16.7944 6.373C15.6399 5.60369 14.3897 4.98888 13.0756 4.54425C11.8506 4.12425 10.1251 3.44525 9.08385 4.5985C8.36985 5.3895 8.2211 6.58825 8.09335 7.60675L8.0846 7.67325C7.9446 8.7845 7.9131 10.2317 8.2806 11.6685C6.8806 13.4815 6.0336 15.6445 6.0336 18C6.0336 23.236 10.0884 27.3625 15.3681 29.1947C14.9859 30.0685 14.787 31.0113 14.7836 31.965L14.4896 32.0245C13.2349 32.1978 12.4316 32.042 11.8856 31.811C10.5556 31.2475 9.86961 29.8283 9.0331 28.7432C8.5116 28.0695 7.7521 27.2277 6.5866 26.8392C6.36851 26.7666 6.13825 26.7377 5.90897 26.754C5.67969 26.7704 5.45587 26.8318 5.25031 26.9346C4.83515 27.1424 4.51952 27.5065 4.37285 27.947C4.22619 28.3875 4.2605 28.8681 4.46825 29.2833C4.67599 29.6985 5.04015 30.0141 5.4806 30.1607C6.4571 30.4862 7.1326 32.1593 7.7521 32.9012C8.40485 33.6852 9.27285 34.5042 10.5171 35.0328C11.7106 35.5403 13.1124 35.7205 14.7836 35.5158V37.25C14.7836 37.7141 14.968 38.1593 15.2962 38.4874C15.6244 38.8156 16.0695 39 16.5336 39C16.9977 39 17.4429 38.8156 17.771 38.4874C18.0992 38.1593 18.2836 37.7141 18.2836 37.25V32C18.2836 30.9955 18.7036 30.0925 19.3844 29.452C20.4466 28.451 19.9041 26.708 18.5181 26.4315C12.9794 25.3272 9.5336 21.6995 9.5336 18C9.5336 16.3235 10.2074 14.7082 11.4726 13.303C11.9679 12.7535 12.0974 11.98 11.8349 11.308Z"
            />
          </svg>
        </a>
        <a href="https://instagram.com" class="button-container"
          ><svg
            viewBox="0 0 36 35"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10.4337 0H25.1337C30.7337 0 35.2837 4.55 35.2837 10.15V24.85C35.2837 27.5419 34.2143 30.1236 32.3108 32.0271C30.4073 33.9306 27.8256 35 25.1337 35H10.4337C4.83369 35 0.283691 30.45 0.283691 24.85V10.15C0.283691 7.45805 1.35306 4.87636 3.25656 2.97287C5.16005 1.06937 7.74174 0 10.4337 0ZM10.0837 3.5C8.41283 3.5 6.8104 4.16375 5.62892 5.34523C4.44744 6.52671 3.78369 8.12914 3.78369 9.8V25.2C3.78369 28.6825 6.60119 31.5 10.0837 31.5H25.4837C27.1546 31.5 28.757 30.8363 29.9385 29.6548C31.1199 28.4733 31.7837 26.8709 31.7837 25.2V9.8C31.7837 6.3175 28.9662 3.5 25.4837 3.5H10.0837ZM26.9712 6.125C27.5514 6.125 28.1078 6.35547 28.518 6.7657C28.9282 7.17594 29.1587 7.73234 29.1587 8.3125C29.1587 8.89266 28.9282 9.44906 28.518 9.8593C28.1078 10.2695 27.5514 10.5 26.9712 10.5C26.391 10.5 25.8346 10.2695 25.4244 9.8593C25.0142 9.44906 24.7837 8.89266 24.7837 8.3125C24.7837 7.73234 25.0142 7.17594 25.4244 6.7657C25.8346 6.35547 26.391 6.125 26.9712 6.125ZM17.7837 8.75C20.1043 8.75 22.3299 9.67187 23.9709 11.3128C25.6118 12.9538 26.5337 15.1794 26.5337 17.5C26.5337 19.8206 25.6118 22.0462 23.9709 23.6872C22.3299 25.3281 20.1043 26.25 17.7837 26.25C15.463 26.25 13.2375 25.3281 11.5965 23.6872C9.95556 22.0462 9.03369 19.8206 9.03369 17.5C9.03369 15.1794 9.95556 12.9538 11.5965 11.3128C13.2375 9.67187 15.463 8.75 17.7837 8.75ZM17.7837 12.25C16.3913 12.25 15.0559 12.8031 14.0714 13.7877C13.0868 14.7723 12.5337 16.1076 12.5337 17.5C12.5337 18.8924 13.0868 20.2277 14.0714 21.2123C15.0559 22.1969 16.3913 22.75 17.7837 22.75C19.1761 22.75 20.5114 22.1969 21.496 21.2123C22.4806 20.2277 23.0337 18.8924 23.0337 17.5C23.0337 16.1076 22.4806 14.7723 21.496 13.7877C20.5114 12.8031 19.1761 12.25 17.7837 12.25Z"
            />
          </svg>
        </a>
        <a href="https://linkedin.com" class="button-container"
          ><svg
            viewBox="0 0 34 33"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M30.5526 0.09375H3.01475C1.55869 0.09375 0.377441 1.275 0.377441 2.73105V30.2689C0.377441 31.725 1.55869 32.9062 3.01475 32.9062H30.5526C32.0087 32.9062 33.1899 31.725 33.1899 30.2689V2.73105C33.1899 1.275 32.0087 0.09375 30.5526 0.09375ZM30.5526 30.2812C12.1858 30.2771 3.00244 30.273 3.00244 30.2689C3.00654 11.9021 3.01064 2.71875 3.01475 2.71875C21.3815 2.72285 30.5649 2.72695 30.5649 2.73105C30.5608 21.0979 30.5567 30.2812 30.5526 30.2812ZM5.24189 12.3943H10.1104V28.0541H5.24189V12.3943ZM7.67822 10.2533C9.23271 10.2533 10.5001 8.99004 10.5001 7.43145C10.5001 7.06087 10.4271 6.69393 10.2853 6.35156C10.1435 6.00919 9.93563 5.69811 9.67359 5.43608C9.41155 5.17404 9.10047 4.96619 8.75811 4.82437C8.41574 4.68256 8.0488 4.60957 7.67822 4.60957C7.30765 4.60957 6.9407 4.68256 6.59834 4.82437C6.25597 4.96619 5.94489 5.17404 5.68286 5.43608C5.42082 5.69811 5.21296 6.00919 5.07115 6.35156C4.92934 6.69393 4.85635 7.06087 4.85635 7.43145C4.85225 8.99004 6.11553 10.2533 7.67822 10.2533ZM18.0265 20.3062C18.0265 18.2637 18.4161 16.2867 20.9468 16.2867C23.4405 16.2867 23.4774 18.6205 23.4774 20.4375V28.0541H28.3419V19.4654C28.3419 15.249 27.4313 12.0047 22.5054 12.0047C20.1388 12.0047 18.5515 13.3049 17.8993 14.5354H17.8337V12.3943H13.162V28.0541H18.0265V20.3062Z"
            />
          </svg>
        </a>
        <a href="https://twitter.com" class="button-container"
          ><svg
            viewBox="0 0 43 43"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M31.9634 12.7308C31.3456 11.8418 29.6936 10.5923 27.0179 11.1313C25.4569 11.4445 24.5241 12.2163 23.9309 13.2348C23.2991 14.3198 22.9929 15.795 22.9929 17.5117C22.9929 17.9759 22.8085 18.421 22.4803 18.7492C22.1521 19.0774 21.707 19.2617 21.2429 19.2617C17.1024 19.2617 13.1614 18.0315 9.84515 14.7047C9.59477 16.0545 9.49616 17.4281 9.55115 18.7997C9.6439 20.7002 10.0971 22.606 11.1734 24.2388C12.2321 25.8435 13.9734 27.3135 16.8854 28.2375C17.1707 28.328 17.4281 28.4902 17.6328 28.7086C17.8376 28.927 17.9829 29.1942 18.0549 29.4848C18.1269 29.7753 18.1231 30.0795 18.044 30.3682C17.9649 30.6569 17.813 30.9205 17.6029 31.1337C16.6701 32.0905 15.613 32.9174 14.4599 33.5925C16.3149 33.785 18.1034 33.799 19.7624 33.6485C23.1224 33.344 25.7981 32.3832 27.4711 31.0235C30.9939 28.1675 32.8786 23.908 32.5286 16.7715C32.4691 15.599 33.6014 14.3338 34.1474 13.373C33.3231 13.527 32.4971 13.499 31.9634 12.7308ZM8.82315 9.222C9.13999 9.18518 9.46087 9.23565 9.75111 9.36797C10.0413 9.50029 10.2899 9.70942 10.4699 9.97275C13.0529 13.751 16.1539 15.3225 19.5961 15.6795C19.7641 14.2077 20.1614 12.7535 20.9086 11.4725C22.0041 9.593 23.7856 8.2105 26.3301 7.6995C29.8476 6.9925 32.5251 8.2665 34.0774 9.82575L37.2134 9.2395C37.5416 9.17801 37.8805 9.21168 38.1901 9.33653C38.4998 9.46139 38.7672 9.67221 38.961 9.94413C39.1547 10.2161 39.2666 10.5377 39.2835 10.8712C39.3003 11.2046 39.2215 11.5359 39.0561 11.826L36.0461 17.1145C36.3209 24.7463 34.1999 30.0733 29.6779 33.743C27.2804 35.689 23.8469 36.7933 20.0791 37.1345C16.2816 37.4775 11.9889 37.0627 7.7224 35.8167C7.35786 35.7104 7.0378 35.4884 6.81052 35.1842C6.58323 34.88 6.46107 34.5101 6.46245 34.1304C6.46383 33.7507 6.58869 33.3817 6.81818 33.0791C7.04767 32.7766 7.36934 32.5569 7.73465 32.4533C9.88015 31.8425 11.5146 31.3158 12.9899 30.3935C10.8916 29.2805 9.3464 27.8245 8.25265 26.1655C6.73365 23.859 6.17015 21.2865 6.05815 18.9678C5.94615 16.649 6.2804 14.5 6.6339 12.9513C6.83515 12.0675 7.06965 11.182 7.3934 10.335C7.50759 10.0364 7.70139 9.77485 7.95375 9.57864C8.20611 9.38242 8.50564 9.25908 8.82315 9.222Z"
            />
          </svg>
        </a>
      </div>
      <a
        href="mailto:mkisacik.mmt-b2022@fh-salzburg.ac.at, xrath.mmt-b2022@fh-salzburg.ac.at"
        id="contact-btn"
        class="card"
        >Contact us!</a
      >
      <div id="cpr">
        <a>Privacy Policy</a>
        <p>Copyright ©fhodds 2024. All rights reserved</p>
      </div>
    </footer>
  </body>
</html>
